:root {
    /* Text colors */
    --vc--text: #eeeeee;
    --vc--positive: #4ca15a;
    --vc--neutral: #bbb9c0;
    --vc--negative: #d74a4a;
    --vc--highlight: #00aced;
    --vc--highlight-panel-text: #3f3f3f;
    /* Panel/Border colors */
    --vc--background: #212121;
    --vc--panel-background: #2b2b2b;
    --vc--alt-background: #353535;
    --vc--tile-border: #212121;
    --vc--hairline: #353535;
    /* Other colors */
    --vc--globe-land: #212121;
    --vc--globe-water: #353535;
    --vc--chart-line: #1f8dc3;
    /* Legacy version of the above */
    --history-tile-line-colour: #1f8dc3;
    /* Copy */
    --powered-by-text: '';
}

.vc-text {
    color: var(--vc--text);
    fill: var(--vc--text);
}

.vc-text-positive {
    color: var(--vc--positive);
    fill: var(--vc--positive);
}

.vc-text-neutral {
    color: var(--vc--neutral);
    fill: var(--vc--neutral);
}

.vc-text-negative {
    color: var(--vc--negative);
    fill: var(--vc--negative);
}

.vc-text-error {
    color: var(--vc--negative);
    fill: var(--vc--negative);
}

.vc-text-highlight {
    color: var(--vc--highlight);
    fill: var(--vc--highlight);
}

.vc-bg {
    background: var(--vc--background);
}

.vc-tile-bg {
    background: var(--vc--panel-background);
}

.vc-tile-border {
    border-color: var(--vc--tile-border);
}

.vc-alt-bg {
    background-color: var(--vc--alt-background);
}

.vc-line {
    stroke: var(--vc--text);
}

.vc-hairline {
    border-color: var(--vc--hairline);
}

.vc-svg-hairline {
    stroke: var(--vc--hairline);
}

.vc-highlight-panel {
    background-color: var(--vc--highlight);
    color: var(--vc--highlight-panel-text);
}

.globeLand {
    stroke: var(--vc--globe-land);
}

.globeOceanPrimaryColour {
    fill: var(--vc--globe-water);
}

.ls-globe-land {
    fill: var(--vc--background);
}

.ls-globe-water {
    fill: var(--vc--panel-background);
}

.sceneRotator:after {
    content: var(--powered-by-text);
}
