/* General */

.vc-text {
    color: #E5E5EA;
}

.vc-text-error {
    color: #C9262C;
}

.vc-text-highlight {
    color: #00ACED;
}

.vc-bg {
    background: #404045;
}

.vc-tile-bg {
    background: #36363B;
}

.vc-tile-border {
    border-color: #404045;
}

.vc-alt-bg {
    background-color: #404045;
}

.vc-bars-bg {
    background-color: rgba(229, 229, 234, 0.1);
}

.vc-hairline {
    border-color: #545459;
}

.vc-button-submit {
    background-color: #4C9EF5;
    color: #FFFFFF;
}

/* Panel */

.vc-panel {
    background: #FFFFFF;
    color: #333333;
}
