/* General */

.vc-text {
    color: #E5E5EA;
    fill: #E5E5EA;
}

.vc-text-error {
    color: #C9262C;
    fill: #C9262C;
}

.vc-text-highlight {
    color: #00ACED;
    fill: #00ACED;
}

.vc-text-highlight-alt {
    color: #D8DF20;
    fill: #D8DF20;
}

.vc-text-positive {
    color: #68BE2E;
    fill: #68BE2E;
}

.vc-text-neutral {
    color: #8B8B8F;
    fill: #8B8B8F;
}

.vc-text-negative {
    color: #C9262C;
    fill: #C9262C;
}

.vc-bg {
    background: #404045;
}

.vc-tile-bg {
    background: #36363B;
}

.vc-tile-border {
    border-color: #404045;
}

.vc-alt-bg {
    background-color: #404045;
}

.vc-bars-bg {
    background-color: rgba(229, 229, 234, 0.1);
}

.vc-hairline {
    border-color: #545459;
}

.vc-message-ticker-default {
    background: rgba(74, 74, 79, 0.9);
    color: #E5E5EA;
}

.vc-message-popup-default {
    background: rgba(74, 74, 79, 0.9);
    color: #E5E5EA;
}

.vc-message-ticker-success,
.vc-message-popup-success {
    background: rgba(104, 190, 46, 0.9);
    color: #FFFFFF;
}

.vc-message-ticker-warning,
.vc-message-popup-warning {
    background: rgba(201, 38, 44, 0.9);
    color: #FFFFFF;
}

.vc-message-ticker-information,
.vc-message-popup-information {
    background: rgba(96, 166, 213, 0.9);
    color: #FFFFFF;
}

.vc-two-tone-vertical {
    background-image: linear-gradient(to bottom, #36363B 50%, #545459 50%);
}

.vc-two-tone-horizontal {
    background-image: linear-gradient(to right, #36363B 50%, #545459 50%);
}

.vc-highlight-panel {
    background-color: #D8DF20;
    color: #333A3E;
}

/* TO DO: The following are not part of vizia.old (will need revisiting) */

.vc-button-submit {
    background-color: #4C9EF5;
    color: #FFFFFF;
}

/* Panel */

.vc-panel {
    background: #FFFFFF;
    color: #333333;
}
