/**
 * DEPRECATED
 * DO NOT USE when moving forwards, this will be removed
 * Use Vizia Design Tokens, and component-based classes instead
 */

/**
 * Used in:
 * bootstrap
 * bootstrap2
 * bundle-loader
 * Legacy assets bundles
 */
.vc-text {
    color: var(--viz-color-on-surface);
    fill: var(--viz-color-on-surface);
}

/**
 * Used in:
 * Legacy assets bundles
 */
.vc-text-positive {
    color: var(--viz-color-positive);
    fill: var(--viz-color-positive);
}

/**
 * Used in:
 * bootstrap2
 * Legacy assets bundles
 */
.vc-text-neutral {
    color: var(--viz-color-neutral);
    fill: var(--viz-color-neutral);
}

/**
 * Used in:
 * Legacy assets bundles
 */
.vc-text-negative {
    color: var(--viz-color-negative);
    fill: var(--viz-color-negative);
}

/**
 * Used in:
 * bootstrap
 */
.vc-text-error {
    color: var(--viz-color-failure);
    fill: var(--viz-color-failure);
}

/**
 * Used in:
 * Legacy assets bundles
 */
.vc-text-highlight {
    color: var(--viz-color-secondary);
    fill: var(--viz-color-secondary);
}

/**
 * Used in:
 * bootstrap
 * boostrap2
 * Legacy assets bundles
 */
.vc-bg {
    background-color: var(--viz-color-background);
}

/*
 * Used in:
 * bootstrap
 * bootstrap2
 * bundle-loader
 * Legacy assets bundles
 */
.vc-tile-bg {
    background: var(--viz-color-surface);
}

/**
 * Used in:
 * Legacy assets bundles
 */
.vc-alt-bg {
    background-color: var(--viz-color-surface-shift-1);
}

/**
 * Used in:
 * Legacy assets bundles
 */
.vc-hairline {
    border-color: var(--viz-color-surface-shift-2);
}

/**
 * Used in:
 * destination-globe (last checked 4.0.4)
 * Legacy assets bundles
 */
.vc-highlight-panel {
    background-color: var(--viz-color-secondary);
    color: var(--viz-color-on-secondary);
}

/**
 * Used in:
 * destination-globe (last checked 4.0.4)
 * Legacy assets bundles
 */
.globeLand {
    stroke: var(--viz-color-background);
}

/**
 * Used in:
 * destination-globe (last checked 4.0.4)
 * Legacy assets bundles
 */
.globeOceanPrimaryColour {
    fill: var(--viz-color-surface-shift-1);
}
