/**
 * DEPRECATED
 * DO NOT USE when moving forwards, this will be removed
 * Use custom properties and component-based classes instead
 */

/* General */

.vl-dib {
    display: inline-block;
}

/* Flexbox */

.vl-flex-row,
.vl-flex-column {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    position: relative;
    min-height: 0;
}

.vl-inline-flex {
    display: inline-flex;
}

.vl-flex-row {
    flex-direction: row;
}

.vl-flex-column {
    flex-direction: column;
}

.vl-flex-wrap {
    flex-wrap: wrap;
}

.vl-flex-vh-center {
    justify-content: center;
    align-items: center;
}

.vl-flex-1 {
    flex: 1;
}

.vl-flex-2 {
    flex: 2;
}

.vl-flex-3 {
    flex: 3;
}

.vl-flex-4 {
    flex: 4;
}

.vl-flex-5 {
    flex: 5;
}

/* Margin */

.vl-margin-none {
    margin: 0;
}

.vl-margin-tiny {
    margin: 0.5vmin;
}

.vl-margin-small {
    margin: 1vmin;
}

.vl-margin-medium {
    margin: 1.5vmin;
}

.vl-margin-large {
    margin: 2vmin;
}

.vl-margin-huge {
    margin: 2.5vmin;
}

.vl-margin-h-tiny {
    margin-left: 0.5vmin;
    margin-right: 0.5vmin;
}

.vl-margin-h-small {
    margin-left: 1vmin;
    margin-right: 1vmin;
}

.vl-margin-h-medium {
    margin-left: 1.5vmin;
    margin-right: 1.5vmin;
}

.vl-margin-h-large {
    margin-left: 2vmin;
    margin-right: 2vmin;
}

.vl-margin-h-huge {
    margin-left: 2.5vmin;
    margin-right: 2.5vmin;
}

.vl-margin-v-tiny {
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
}

.vl-margin-v-small {
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}

.vl-margin-v-medium {
    margin-top: 1.5vmin;
    margin-bottom: 1.5vmin;
}

.vl-margin-v-large {
    margin-top: 2vmin;
    margin-bottom: 2vmin;
}

.vl-margin-v-huge {
    margin-top: 2.5vmin;
    margin-bottom: 2.5vmin;
}

.vl-margin-l-tiny {
    margin-left: 0.5vmin;
}

.vl-margin-l-small {
    margin-left: 1vmin;
}

.vl-margin-l-medium {
    margin-left: 1.5vmin;
}

.vl-margin-l-large {
    margin-left: 2vmin;
}

.vl-margin-l-huge {
    margin-left: 2.5vmin;
}

.vl-margin-r-tiny {
    margin-right: 0.5vmin;
}

.vl-margin-r-small {
    margin-right: 1vmin;
}

.vl-margin-r-medium {
    margin-right: 1.5vmin;
}

.vl-margin-r-large {
    margin-right: 2vmin;
}

.vl-margin-r-huge {
    margin-right: 2.5vmin;
}

.vl-margin-t-tiny {
    margin-top: 0.5vmin;
}

.vl-margin-t-small {
    margin-top: 1vmin;
}

.vl-margin-t-medium {
    margin-top: 1.5vmin;
}

.vl-margin-t-large {
    margin-top: 2vmin;
}

.vl-margin-t-huge {
    margin-top: 2.5vmin;
}

.vl-margin-b-tiny {
    margin-bottom: 0.5vmin;
}

.vl-margin-b-small {
    margin-bottom: 1vmin;
}

.vl-margin-b-medium {
    margin-bottom: 1.5vmin;
}

.vl-margin-b-large {
    margin-bottom: 2vmin;
}

.vl-margin-b-huge {
    margin-bottom: 2.5vmin;
}

/* Padding */

.vl-padding-none {
    padding: 0;
}

.vl-padding-tiny {
    padding: 0.5vmin;
}

.vl-padding-small {
    padding: 1vmin;
}

.vl-padding-medium {
    padding: 1.5vmin;
}

.vl-padding-large {
    padding: 2vmin;
}

.vl-padding-huge {
    padding: 2.5vmin;
}

.vl-padding-h-tiny {
    padding-left: 0.5vmin;
    padding-right: 0.5vmin;
}

.vl-padding-h-small {
    padding-left: 1vmin;
    padding-right: 1vmin;
}

.vl-padding-h-medium {
    padding-left: 1.5vmin;
    padding-right: 1.5vmin;
}

.vl-padding-h-large {
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.vl-padding-h-huge {
    padding-left: 2.5vmin;
    padding-right: 2.5vmin;
}

.vl-padding-v-tiny {
    padding-top: 0.5vmin;
    padding-bottom: 0.5vmin;
}

.vl-padding-v-small {
    padding-top: 1vmin;
    padding-bottom: 1vmin;
}

.vl-padding-v-medium {
    padding-top: 1.5vmin;
    padding-bottom: 1.5vmin;
}

.vl-padding-v-large {
    padding-top: 2vmin;
    padding-bottom: 2vmin;
}

.vl-padding-v-huge {
    padding-top: 2.5vmin;
    padding-bottom: 2.5vmin;
}

.vl-padding-l-tiny {
    padding-left: 0.5vmin;
}

.vl-padding-l-small {
    padding-left: 1vmin;
}

.vl-padding-l-medium {
    padding-left: 1.5vmin;
}

.vl-padding-l-large {
    padding-left: 2vmin;
}

.vl-padding-l-huge {
    padding-left: 2.5vmin;
}

.vl-padding-r-tiny {
    padding-right: 0.5vmin;
}

.vl-padding-r-small {
    padding-right: 1vmin;
}

.vl-padding-r-medium {
    padding-right: 1.5vmin;
}

.vl-padding-r-large {
    padding-right: 2vmin;
}

.vl-padding-r-huge {
    padding-right: 2.5vmin;
}

.vl-padding-t-tiny {
    padding-top: 0.5vmin;
}

.vl-padding-t-small {
    padding-top: 1vmin;
}

.vl-padding-t-medium {
    padding-top: 1.5vmin;
}

.vl-padding-t-large {
    padding-top: 2vmin;
}

.vl-padding-t-huge {
    padding-top: 2.5vmin;
}

.vl-padding-b-tiny {
    padding-bottom: 0.5vmin;
}

.vl-padding-b-small {
    padding-bottom: 1vmin;
}

.vl-padding-b-medium {
    padding-bottom: 1.5vmin;
}

.vl-padding-b-large {
    padding-bottom: 2vmin;
}

.vl-padding-b-huge {
    padding-bottom: 2.5vmin;
}

/* Text */

.vl-text-thin {
    font-weight: 100;
}

.vl-text-light {
    font-weight: 300;
}

.vl-text-regular {
    font-weight: 400;
}

.vl-text-bold {
    font-weight: 700;
}

.vl-text-small {
    font-size: 1.5vmin;
}

.vl-text-medium {
    font-size: 2vmin;
}

.vl-text-large {
    font-size: 2.5vmin;
}

.vl-text-huge {
    font-size: 6vmin;
}

.vl-text-x-huge {
    font-size: 10vmin;
}

.vl-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Visibility */

.vl-hidden {
    display: none;
}

/* Positioning */

.vl-absolute-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.vl-absolute-stretched {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.vl-bg-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

/* Tables */

.vl-table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Borders */

.vl-border-b {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
