* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%; /* Root font-size = 10px / 0.1rem = 1px */
    font-size-adjust: 100%;
    user-select: none;
}

:root,
text {
    font-family: var(--viz-type-face-base);
    font-weight: var(--viz-type-weight-normal);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: always;
    text-rendering: optimizeLegibility;
    text-decoration-skip-ink: auto;
}
