/**
 * Measure constants
 */
:root {
    /* Base grid unit (equivalent of 3px) */
    --viz-measure-base: 0.3rem;
    /* Component gutter (equivalent of 24px) */
    --viz-measure-gutter: 2.4rem;
}

/**
 * Type constants
 */
:root {
    /* Base font-face */
    --viz-type-face-base: 'Roboto';
    /* Weight for light */
    --viz-type-weight-light: 300;
    /* Weight for normal/default */
    --viz-type-weight-normal: 400;
    /* Weight for bold */
    --viz-type-weight-bold: 600;
    /* Weight for heavy */
    --viz-type-weight-heavy: 700;
    /* Base size:leading ratio (equivalent of line-height 1.5) */
    --viz-type-ratio-base: calc(2 / 3);
    /* Tight size:leading ratio (equivalent of line-height 1.2) */
    --viz-type-ratio-tight: calc(5 / 6);
}

/**
 * Color constants
 */
:root {
    /* Black point */
    --viz-color-black: #212121;
    /* White point */
    --viz-color-white: #ffffff;
    /* Positive sentiment or sign */
    --viz-color-positive: #4ca15a;
    /* Negative sentiment or sign */
    --viz-color-negative: #d74a4a;
    /* Neutral sentiment or sign */
    --viz-color-neutral: #bbb9c0;
    /* Action failure */
    --viz-color-failure: #fc4870;
    /* Action warning */
    --viz-color-warning: #daae45;
    /* Action success */
    --viz-color-success: #00be96;
}

/**
 * Color variables (defaults)
 * These can be overridden by a theme
 */
:root {
    /* Accent */
    --viz-color-accent: #239edb;
    /* Vizia Header */
    --viz-color-header: #239edb;
}

/**
 * Dark mode variables (defaults)
 * These can be overridden by a theme
 */
:root {
    /* Frame background color */
    --viz-mode-dark-color-frame: #212121;
    /* Background color */
    --viz-mode-dark-color-bg: #2b2b2b;
    /* Background color, shifted towards base color */
    --viz-mode-dark-color-bg-shift-1: #353535;
    /* Background color, shifted more towards base color */
    --viz-mode-dark-color-bg-shift-2: #3f3f3f;
    /* Base color (e.g. text) */
    --viz-mode-dark-color-base: #f7f5fc;
    /* Base color, shifted towards background color */
    --viz-mode-dark-color-base-shift-1: #edebf2;
    /* Base color, shifted more towards background color */
    --viz-mode-dark-color-base-shift-2: #e3e1e8;
    /* Base color, shifted forwards to emphasise */
    --viz-mode-dark-color-base-emphasise: #ffffff; /* CHANGE TO EMPHASISE */
}

/**
 * Light mode variables (defaults)
 * These can be overridden by a theme
 */
:root {
    /* Frame background color */
    --viz-mode-light-color-frame: #f7f5fc;
    /* Background color */
    --viz-mode-light-color-bg: #ffffff;
    /* Background color, shifted towards base color */
    --viz-mode-light-color-bg-shift-1: #f7f5fc;
    /* Background color, shifted more towards base color */
    --viz-mode-light-color-bg-shift-2: #edebf2;
    /* Base color (e.g. text) */
    --viz-mode-light-color-base: #2b2b2b;
    /* Base color, shifted towards background color */
    --viz-mode-light-color-base-shift-1: #353535;
    /* Base color, shifted more towards background color */
    --viz-mode-light-color-base-shift-2: #3f3f3f;
    /* Base color, shifted forwards to emphasise */
    --viz-mode-light-color-base-emphasise: #212121;
}

/**
 * Dark mode
 */
.viz--dark {
    --viz-color-frame: var(--viz-mode-dark-color-frame);
    --viz-color-bg: var(--viz-mode-dark-color-bg);
    --viz-color-bg-shift-1: var(--viz-mode-dark-color-bg-shift-1);
    --viz-color-bg-shift-2: var(--viz-mode-dark-color-bg-shift-2);
    --viz-color-base: var(--viz-mode-dark-color-base);
    --viz-color-base-shift-1: var(--viz-mode-dark-color-base-shift-1);
    --viz-color-base-shift-2: var(--viz-mode-dark-color-base-shift-2);
    --viz-color-base-emphasise: var(--viz-mode-dark-color-base-emphasise);
}

/**
 * Light mode
 */
.viz--light {
    --viz-color-frame: var(--viz-mode-light-color-frame);
    --viz-color-bg: var(--viz-mode-light-color-bg);
    --viz-color-bg-shift-1: var(--viz-mode-light-color-bg-shift-1);
    --viz-color-bg-shift-2: var(--viz-mode-light-color-bg-shift-2);
    --viz-color-base: var(--viz-mode-light-color-base);
    --viz-color-base-shift-1: var(--viz-mode-light-color-base-shift-1);
    --viz-color-base-shift-2: var(--viz-mode-light-color-base-shift-2);
    --viz-color-base-emphasise: var(--viz-mode-light-color-base-emphasise);
}
